.card {
    border: 1px solid black;
    height: 250px;
    display: flex;
    align-items: flex-end;
}

.text {
    background-color:rgb(232, 210, 174);
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.project-links * {
    margin: 12px;
    color: rgb(47, 47, 47);
}

.project-links:hover {
    color: black;
    
}