.card {
    border-radius: 5px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0 3px 3px rgb(183, 212, 255);
}

.text {
    background-color:#e6fff7ed;
    /* border-bottom: solid 1px rgb(255, 0, 234); */
    display: inline-flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.project-links * {
    margin: 12px;
    color: rgb(47, 47, 47);
}

.project-links:hover {
    color: black;
    
}