
nav {
    /* background:rgb(221, 232, 185); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    overflow: hidden;
    padding-top: 10px;
    /* border-bottom: 2px groove rgb(69, 58, 59); */
}

.active {
    font-size: large;
    /* text-shadow: 5px 5px 5px rgb(232, 210, 174); */
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav a {
    transition: all ease-in-out 0.5s;
}

nav a:hover {
    /* background-color: blueviolet; */
    transform: scale(1.1);
}

li {
    flex: 1 0 10%;
    text-align: center;
}

.logo, nav a {
    display: block;
    text-decoration: none;
    letter-spacing: .1rem;
    padding: 0.8rem;
}

.logo {
    margin: 0 auto;
    font-family: 'Alice', serif;
    font-size: 35px;
    color:rgb(69, 58, 59);
    /* text-decoration: underline rgb(203, 133, 137) 2px; */
    text-underline-offset: 7px;
}

@media (min-width:600px) {
    nav {
        line-height: 1.5rem;
    }

    nav ul {
        width: 100%;
    }

    nav li {
        flex: 1 0 10%
    }
}

@media (min-width: 900px){
    nav {
        justify-content: space-between;
    }

    nav ul {
        width: auto;
    }

    .logo {
        margin: 0 0 0 0.3rem;
        font-size: 30px;
    }
}