li {
    text-decoration: none;
    display: inline-flex;
    margin: 5px;
} 

 a {
    text-decoration: none;
} 

nav {
    background-color: rgb(210, 237, 124);
}

h1 {
    position: relative;
    top: 10px;
    left: 10px;
}

ul {
    justify-content: flex-end;
    display: flex;
}

.active {
    font-size: large;
    text-shadow: 5px 5px 5px rgb(255, 255, 187);
}
