footer {
    display: inline-flex;
    justify-content: space-evenly;
    background-color: rgb(210, 237, 124);
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px groove rgb(9, 56, 0);
    text-align: center;
}

.footernav {
    margin-top: 15px;
    letter-spacing: .1rem;
    transition: all ease-in-out 0.5s;
}

.footernav:hover {
    transform: scale(1.1);
}