* {
  font-family: 'Lora', serif;
  color: rgb(7, 8, 8);
}

a:hover {
  text-shadow: 5px 5px 5px rgb(255, 244, 188);
}

/* about me page---------------------------*/
.bioImg {
  height: 400px;
  border: 2.25px solid rgb(69, 58, 59);
  border-radius: 199px 199px 53px 13px / 150px 150px 0px 0px;
  margin-bottom: 100px;
  filter: sepia(20%);
}

.containers {
  margin-top: 30px;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.abouttext h2 {
  font-size: 20px;
  font-family: 'Lora', serif;
}

.abouttext {
  margin-bottom: 60px;
  background-color:rgb(232, 210, 174);
  text-align: center;
  border-radius: 8px;
  max-height: 300px;
  max-width: 400px;
}

/* contact me page--------------------------*/
.contactbox {
  display: flex;
  justify-content: center;
}

.boxitems {
  background-color:rgb(232, 210, 174);
  border-radius: 8px;
  margin-top: 40px;
  letter-spacing: 1px;
  line-height: 1.75rem;
  text-align: center;
  padding: 10px;
}

.boxitems h4 {
  margin-bottom: 10px;
}

.contacthead {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.extrahead {
  margin-bottom: 10px;
  margin-top: 25px;
}
.extra {
  margin-top: 15px;
  margin-bottom: 10px;
  margin: 8px;
  line-height: 2.5rem;
}

.contactlinks {
  font-weight: 400;
  text-decoration: underline 2px;
  text-underline-offset: 2px;
}

/* resume page--------------------------*/

.resumebox {
  text-align: center;
  display: flex;
  justify-content: center;
}

.boxwidth {
  background-color:rgb(232, 210, 174);
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-top: 40px;
}

.prof {
  margin-top: 8px;
  font-size: 21.5px;
  letter-spacing: .1rem;
}

.resumeskills {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.skilllist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 28px;
  font-weight: bold;
  background-color: rgb(232, 210, 174);
}

.resumelink {
  margin: 30px;
  font-style: italic;
  font-weight: 400;
  transition: all ease-in-out 0.5s;
}

.resumelink:hover {
  margin: 30px;
  text-shadow: 5px 5px 5px rgb(232, 210, 174);
}
