* {
  font-family: 'Lora', serif;
  color: rgb(7, 8, 8);
}

a:not(.footer-link){
  text-decoration: none;
  color: black;
  margin-top: 5px;
  font-weight: bold;
}

/* about me ---------------------------*/
.bioImg {
  height: 300px;
  border-radius: 8%;
  margin: 40px;
  filter: sepia(20%);
  
  border-image: url(../public/images/clip-art-borders-907694.png)  27 /                    /* slice */
  14px 14px 14px 14px /    /* width */
  36px 36px 36px 36px       /* outset */
  ;
  -moz-border-image: url(../public/images/clip-art-borders-907694.png)  27 /                    /* slice */
  14px 14px 14px 14px /    /* width */
  36px 36px 36px 36px      /* outset */
  ;
  -webkit-border-image: url(../public/images/clip-art-borders-907694.png)  27 /                    /* slice */
  14px 14px 14px 14px /    /* width */
  36px 36px 36px 36px       /* outset */
  ;
  -o-border-image: url(../public/images/clip-art-borders-907694.png)  27 /                    /* slice */
  14px 14px 14px 14px /    /* width */
  36px 36px 36px 36px       /* outset */
  ;
}

.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.abouttext h2 {
  font-size: 20px;
  font-family: 'Lora', serif;
  margin-bottom: 8px;
}

.abouttext {
  text-align: center;
  max-width: 400px;
}

.abouttext p {
  line-height: 1.5;
  font-size: 15px;
  margin: 5px 10px 8px 10px;
}

/* projects---------------------------- */
/* .projects {
  /* display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto; */
/* }  */

.projects .card {
  margin: 20px;
}

/* contact me --------------------------*/

.boxitems {
  background-color:rgb(232, 210, 174);
  border-radius: 8px;
  /* margin-top: 40px; */
  letter-spacing: 1px;
  line-height: 1.75rem;
  text-align: center;
  /* padding: 10px; */
}

/* .boxitems h4 {
  margin-bottom: 10px;
} */

.contacthead {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.extrahead {
  margin-bottom: 10px;
  margin-top: 25px;
}

.extra {
  margin-top: 15px;
  margin-bottom: 10px;
  margin: 8px;
  line-height: 2.5rem;
}

.contactlinks {
  font-weight: 400;
  text-decoration: underline 2px;
  text-underline-offset: 2px;
}

/* Footer--------------------------------------------- */
footer {
  display: inline-flex;
  justify-content: space-evenly;
  height: 45px;
  width: 100%;
  text-align: center;
}

.footer-icon {
  height: 40px;
  width: 40px;
  /* color:rgb(69, 58, 59); */
}

.footernav {
  margin-top: 12px;
  letter-spacing: .1rem;
  transition: all ease-in-out 0.5s;
  color: rgb(69, 58, 59);
}

.footernav:hover {
  transform: scale(1.1);
}


/* media queries ---------------------------- */
@media (min-width:600px) {
  .projects {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 900px){
  .containers *:not(div){
    padding: 50px 50px;
  }
  
  .projects {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
  }

  .abouttext {
    border-left: 3px solid rgb(69, 58, 59);
    padding: 20px 30px;
  }

  .abouttext p {
    line-height: 2;
    font-size: 20px;
    margin-top: 0px;
    text-align: none;
    padding-top: 0px;
  }

  .abouttext h2 {
    font-size: 29px;
    margin-bottom: 4px;
    padding: 0px;
  }

  .containers {
    margin: 35px 0px;
  }



  .bioImg {
    margin: 8px 50px 0 100px;
    border-radius: 20px;
    height: 442px;
    border-image: url(../public/images/clip-art-borders-907694.png)  27 /                    /* slice */
    14px 14px 14px 14px /    /* width */
    10px 10px 10px 10px       /* outset */
    ;
    -moz-border-image: url(../public/images/clip-art-borders-907694.png)  27 /                    /* slice */
    14px 14px 14px 14px /    /* width */
    10px 10px 10px 10px      /* outset */
    ;
    -webkit-border-image: url(../public/images/clip-art-borders-907694.png)  27 /                    /* slice */
    14px 14px 14px 14px /    /* width */
    10px 10px 10px 10px       /* outset */
    ;
    -o-border-image: url(../public/images/clip-art-borders-907694.png)  27 /                    /* slice */
   14px 14px 14px 14px /    /* width */
    10px 10px 10px 10px       /* outset */
  ;
  }
}